<section id="about">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <div class="lead">
                      We believe in Open Source, DevOps culture and knowledge sharing.</br>
                     
                      We love Puppet and all the technologies that make IT operations smarter.</br>
                    </div>
                    <div class="lead">
                    
                      <b>Founders</b></br>
                      Martin Alfke - CEO</br>
                      Alessandro Franceschi - CTO</br>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-4.png" alt="">
                </div>
            </div>

        </div>
  
</section>
