<section id="episodes">
  <div class="content-section-a">
    <div class="container">
      <div class="row adi-list">
        <div class="col-lg-2">
          <a href="{{ site.url }}/AbnormalDevOpsIterations/"><img class="img-responsive" src="{{ site.url }}/img/pic-adi.png" alt="Abnormal DevOps Iterations"></a>
        </div>
        <div class="col-lg-2">
          <h1>ADI</br>{{ page.number }}</h1>
        </div>
        <div class="col-lg-8">
        <h1>{{ page.guest }} - {{ page.title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <img class="img-responsive float-image" src="{{ site.url }}/AbnormalDevOpsIterations/img/{{ page.number }}.png" alt="ADI {{ page.number }} - {{ page.guest }}: {{ page.title }}">
          {{ content }}
          <div class="tags">{% for tag in page.tags %}#{{ tag }} {% endfor %}</div>
        </div>
        <div class="col-lg-7">
          <div class="video-container">
          <iframe src="https://www.youtube.com/embed/{{ page.youtube }}" class="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          Premiered on {{ page.date | date: "%Y-%m-%d" }}
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
