<section id="splash">
  <div class="adi-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <a href="{{ site.url }}/AbnormalDevOpsIterations/"><img class="img-responsive" src="{{ site.url }}/img/adi-white-nowords.png" alt="Abnormal DevOps Iterations"></a>
        </div>
        <div class="col-lg-4">
          <div class="intro-message">
            <h1>Abnormal DevOps Iterations</h1>
            <h2>a podcast about Puppet, DevOps, IT operations, AI and everything</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="intro-message">
            <h3>Video:</h3>
            <a href="https://youtube.com/@AbnormalDevOpsIterations" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">YouTube</span></a>
            <h3>Audio:</h3>
            <a href="https://open.spotify.com/show/4viAGMM539m0A230xqKhqD?si=bd0d41f805054313" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-spotify fa-fw"></i> <span class="network-name">Spotify</span></a></br></br>
            <a href="https://music.amazon.com/podcasts/fbb3a98e-1877-4e66-8b65-23388d0e867e/abnormal-devops-iterations" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-music fa-fw"></i> <span class="network-name">Amazon Music</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  