<section id="blog">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Blog posts</h2>
                    <div class="lead">
                    <ul class="posts">  
                    {% for post in site.posts limit:8 %}  
                      <li>  
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>  
                      </li>  
                    {% endfor %}  
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-1.png" alt="Blog">
                </div>
            </div>

        </div>
  
</section>
