<section id="blogs">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="row adi-list">
          <div class="col-lg-2">
            <a href="{{ site.url }}/blog/"><img class="img-responsive" src="{{ site.url }}/img/pic-1-logo.png" alt="Example42 blog"></a>
          </div>
          <div class="col-lg-2">
            <h2><a href="{{ site.url }}/blog/">Blog</a></h2>
            Posted: {{ page.date | date: "%Y-%m-%d" }}
          </div>
          <div class="col-lg-8">
          <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        {% if page.update_post and page.update_url %}
        <h4>Update: <a href="{{ page.update_url}}">{{ page.update_post }}</a></h4>
        {% endif %}
        <div class="post">{{ content }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
