<section id="splash">
  <div class="blog-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-responsive" src="{{ site.url }}/img/pic-1-logo.png" alt="Example42 blog">
        </div>
        <div class="col-lg-8">
          <div class="intro-message">
            <h1>example42's Blog</h1>
            <hr class="intro-divider">
            <h2>about Puppet, DevOps, IT operations</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  