<section id="contact">
    <div class="content-section-a">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Contact</h2>
                    {% include wufoo.html %}
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                    <div class="lead">
                    <h3 class="section-heading">Connect on LinkedIN</h3>
                      <a href="https://www.linkedin.com/profile/view?id=12184592">Martin Alfke</a></br>
                      <a href="https://www.linkedin.com/profile/view?id=2092929">Alessandro Franceschi</a></br>
                    <hr>
                    <h3 class="section-heading">Our books</h3>
                    <img class="img-responsive" src="img/imm-5.png" alt="Contact">
                    <a href="http://amzn.to/1nenFti">Extending Puppet</a></br>
                    by Alessandro Franceschi</br>
                    <div class="clearfix"></div>
                    <a href="">Puppet Essentials</a> 2nd edition. Soon coming.</br>
                    by Felix Frank and Martin Alfke</br>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
