<section id="contact">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <div class="lead">
                    <h3 class="section-heading">Find example42 on social media</h3>
                      <a href="https://www.linkedin.com/company/example42">LinkedIn</a></br>
                      <a href="https://github.com/example42">GitHub</a></br>
                      <a href="https://twitter.com/example42">Twitter</a></br>
                      <a href="https://youtube.com/AbnormalDevOpsIterations">YouTube</a></br>
                      <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">Contact example42 on LinkedIN</h2>
                    <a href="https://www.linkedin.com/company/example42"><img class="img-responsive" src="img/linkedin.png" alt="LinkedIN"></a></br>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
</section>
