<section id="events">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We will be at these events</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="https://www.heinlein-support.de/secure-linux-administration-conference" target="_blank">SLAC</a></br>24.-26.06.2015 - Berlin, Germany</li>
                      <li><a href="http://debconf15.debconf.org/" target="_blank">DebConf15</a></br>15.-22.08.2015 - Heidelberg, Germany</li>
                      <li><a href="http://2015.puppetconf.com/" target="_blank">PuppetConf</a></br>05.-09.10.2015 - Portland, OR, USA</li>
                      <li><a href="http://2015.opennebulaconf.com/" target="_blank">OpenNebulaConf</a></br>20.-22.10.2015 - Barcelona, Spain</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/ipad.png" alt="">
                </div>
            </div>

        </div>
  
</section>
