<section id="events">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">All IT events we attended as sponsors or speakers</h2>
                    <h2 class="section-heading">2018</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="http://cfgmgmtcamp.eu/" target="_blank">CfgMgmtCamp 2018</a></br>05-07.02.2018 - Ghent, Belgium</li>
                      <li><a href="http://devopspro.lt/" target="_blank">DevOpsPro 2018</a></br>15.03.2018 - Vilnius, Lithuania</li>
                      <li><a href="https://www.devopsdays.org/events/2018-berlin//" target="_blank">DevOpsDays Berlin 2018</a></br>12.-13.09.2018 - Berlin, Germany</li>
                      <li><a href="http://puppetconf.com" target="_blank">PuppetConf 2018</a></br>09-11.10.2018 - San Francisco, USA</li>
                    </ul>
                    </div>

                    <h2 class="section-heading">2017</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="https://hpi.de/" target="_blank">Puppet Workshop @ Hasso-Plattner-Institute</a></br>16.01.2017 - Potsdam, Germany</li>
                      <li><a href="http://cfgmgmtcamp.eu/gent-2017/" target="_blank">CfgMgmt Camp Ghent 2017</a></br>06-07.02.2017 - Ghent, Belgium</li>
                      <li><a href="http://www.incontrodevops.it/events/idi2017/" target="_blank">Incontro DevOps Italia 2017</a></br>10.03.2017 - Bologna, Italy</li>
                      <li><a href="http://example42.com/blog/" target="_blank">technical Puppet Workshop</a></br>17.05.2017 - Frankfurt/main, Germany</li>
                      <li><a href="http://devopspro.lt/" target="_blank">DevOpsPro Vilnius 2017</a></br>05-06.04.2017 - Vilnius, Lithuania</li>
                      <li><a href="http://puppetconf.com" target="_blank">PuppetConf 2017</a></br>10-12.10.2017 - San Francisco, USA</li>
                      <li><a href="https://www.devopsdays.org/events/2017-berlin/welcome/" target="_blank">DevOpsDays Berlin 2017</a></br>18-19.10.2017 - Berlin, Germany</li>
                    </ul>
                    </div>

                    <h2 class="section-heading">2016</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="http://cfgmgmtcamp.eu/" target="_blank">Config Mangament Camp 2016</a></br>01.-02.02.2016 - Gent, Belgium</li>
                      <li><a href="http://www.guug.de/veranstaltungen/ffg2016/" target="_blank">German Unix User Group - Fr&uuml;hjahrsfachgespr&auml;ch</a></br>23.-26.02.2016 - Cologne, Germany</li>
                      <li><a href="https://www.icinga.org/community/events/icinga-camp-berlin/" target="_blank">Icinga Camp Berlin 2016</a></br>01.03.2016 - Berlin, Germany</li>
                      <li><a href="http://www.incontrodevops.it/events/idi2016/" target="_blank">Incontro DevOps Italia 2016</a></br>01.04.2016 - Bologna, Italy</li>
                      <li><a href="https://puppetlabs.com/events/puppet-camp-amsterdam-2016" target="_blank">PuppetCamp Amsterdam 2016</a></br>05.02.2016 - Amsterdam, Netherlands</li>
                      <li><a href="https://2016.puppetconf.com/" target="_blank">PuppetConf 2016</a></br>17-21.10.2016 - San Diego, USA</li>
                      <li><a href="https://www.netways.de/osdc/" target="_blank">Open Source Data Center Conference 2016</a></br>26.-28.04.2016 - Berlin, Germany</li>
                      <li><a href="https://www.heinlein-support.de/secure-linux-administration-conference" target="_blank">Secure Linux Administration Conference 2016</a></br>15.-17.06.2016 - Berlin, Germany</li>
                      <li><a href="https://puppet.com/community/events/camp/puppet-camp-paris-2016" target=_blank">PuppetCamp Paris</a></br>07.06.2016 - Paris, France</li>
                      <li><a href="http://5432meet.us" target=_blank">5432... Meet Us!</a></br>28.06.2016 - Milan, Italy</li>
                      <li><a href="https://www.netways.de/en/events_trainings/osmc/overview/" target="_blank">Open Source Monitoring Conference 2016</a></br>29.11.-02.12.2016 - Nuremberg, Germany</li>
                      <li><a href="http://cfgmgmtcamp.eu/berlin-2016/" target="_blank">CfgMgmt Camp Berlin 2016</a></br>15.11.2016 - Berlin, Germany</li>
                      <li><a href="https://puppet.com/community/events/camp/puppet-camp-london-fall-2016" target="_blank">PuppetCamp London Fall 2016</a></br>08.11.2016 - London, UK</li>
                      <li><a href="http://www.devopsdays.org/events/2016-berlin/welcome/" target="_blank">DevOps Days Berlin 2016</a></br>16-17.11.2016 - Berlin, Germany</li>
                    </ul>
                    </div>

                    <h2 class="section-heading">2015</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="https://www.heinlein-support.de/secure-linux-administration-conference" target="_blank">SLAC</a></br>24.-26.06.2015 - Berlin, Germany</li>
                      <li><a href="http://debconf15.debconf.org/" target="_blank">DebConf15</a></br>15.-22.08.2015 - Heidelberg, Germany</li>
                      <li><a href="http://2015.puppetconf.com/" target="_blank">PuppetConf</a></br>05.-09.10.2015 - Portland, OR, USA</li>
                      <li><a href="http://2015.opennebulaconf.com/" target="_blank">OpenNebulaConf</a></br>20.-22.10.2015 - Barcelona, Spain</li>
                      <li><a href="http://www.devopsdays.org/events/2015-berlin/" target="_blank">DevOpsDays Berlin</a></br>26.-27.10.2015 - Berlin, Germany</li>
                    </ul>


                </div>
            </div>
        </div>

</section>
