<section id="events">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Meet us here:</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="https://www.devopsdays.org/events/2018-berlin//" target="_blank">DevOpsDays Berlin 2018</a></br>12.-13.09.2018 - Berlin, Germany</li>
                      <li><a href="https://puppet.com/puppetizelive" target="_blank">PuppetizeLive 2018</a></br>09-10.10.2018 - San Francisco, USA - Sydney, Australia - Amsterdam, Netherlands</li>
                    </ul>
                    </div>
                    <a href="/events/">All the events we attended as sponsors or speakers</a>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/imm-7.png" alt="Events">
                </div>
            </div>

        </div>

</section>
