<section id="events">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We will be at these events</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="http://cfgmgmtcamp.eu/" target="_blank">Config Mangament Camp 2016</a></br>01.-02.02.2016 - Gent, Belgium</li>
                      <li><a href="http://www.guug.de/veranstaltungen/ffg2016/" target="_blank">German Unix User Group - Fr&uuml;hjahrsfachgespr&auml;ch</a></br>23.-26.02.2016 - Cologne, Germany</li>
                      <li><a href="https://www.icinga.org/community/events/icinga-camp-berlin/" target="_blank">Icinga Camp Berlin 2016</a></br>01.03.2016 - Berlin, Germany</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/imm-7.png" alt="Events">
                </div>
            </div>

        </div>
  
</section>
