<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                    This site is based on theme by <a href="http://startbootstrap.com/">Start Bootstrap</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                    Hosted on <a href="https://pages.github.com" target="_blank">GitHub Pages</a>    
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                    {% include iubenda.html %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
