<!-- Footer -->
<section id="footer">
  <footer>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <ul class="list-inline">
            <li>Lab42 Srl - IT03677180121</li>
            <li class="footer-menu-divider">&sdot;</li>
            <li><a href="/legal/">Legal information</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-lg-offset-2  col-sm-6">
          {% include iubenda.html %}
        </div>
      </div>
    </div>
  </div>
  </footer>
</section>
