              <ul style="list-style-type: none; align: center">

                <li>
                  <h6><a href="https://github.com/example42/puppet-modules">Puppet Modules</a></h6>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-modules&amp;type=watch&amp;count=true&size=small" title="Star on GitHub" frameborder="0" scrolling="0" margin="0" lenght="150" height="25"></iframe>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-modules&amp;type=fork&amp;count=true&size=small" title="Fork on GitHub" frameborder="0" scrolling="0" margin="0" lenght="150" height="25" style="display:inline"></iframe>
                  </div>
                </li>

                <li>
                  <h6><a href="https://github.com/example42/Example42-tutorials">Puppet Tutorials</a></h6>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=Example42-tutorials&amp;type=watch&amp;count=true&size=small" title="Star on GitHub" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=Example42-tutorials&amp;type=fork&amp;count=true&size=small" title="Fork on GitHub" frameborder="0" scrolling="0" lenght="150" height="25" style="display:inline"></iframe>
                  </div>
                </li>

                <li>
                  <h6><a href="https://github.com/example42/puppet-tp">Tiny Puppet</a></h6>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-tp&amp;type=watch&amp;count=true&size=small" title="Star on GitHub" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-tp&amp;type=fork&amp;count=true&size=small" title="Fork on GitHub" frameborder="0" scrolling="0" lenght="150" height="25" style="display:inline"></iframe>
                  </div>
                </li>

                <li>
                  <h6><a href="https://github.com/example42/puppet-playground">Puppet Playground</a></h6>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-playground&amp;type=watch&amp;count=true&size=small" title="Star on GitHub" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-playground&amp;type=fork&amp;count=true&size=small" title="Fork on GitHub" frameborder="0" scrolling="0" lenght="150" height="25" style="display:inline"></iframe>
                  </div>
                </li>

                <li>
                  <h6><a href="https://github.com/example42/puppi">Puppi</a></h6>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppi&amp;type=watch&amp;count=true&size=small" title="Star on GitHub" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppi&amp;type=fork&amp;count=true&size=small" title="Fork on GitHub" frameborder="0" scrolling="0" lenght="150" height="25" style="display:inline"></iframe>
                  </div>
                </li>

              </ul>
