              <ul style="list-style-type: none; padding: 0px">
                <li>
                <div class="row">
                  <div class="col-md-6">
                  <a href="https://github.com/example42/puppet-modules">Modules</a>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-modules&amp;type=watch&amp;count=true&size=small" title="Puppet Modules" frameborder="0" scrolling="0" margin="0" lenght="150" height="25"></iframe>
                  </div>
                </div>
                </li>

                <li>
                <div class="row">
                  <div class="col-md-6">
                  <a href="https://github.com/example42/Example42-tutorials">Tutorials</a>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=Example42-tutorials&amp;type=watch&amp;count=true&size=small" title="Puppet Tutorials" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                </div>
                </li>

                <li>
                <div class="row">
                  <div class="col-md-6">
                  <a href="https://github.com/example42/puppet-tp">TinyPuppet</a>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-tp&amp;type=watch&amp;count=true&size=small" title="Puppet Architectures" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                </div>
                </li>

                <li>
                <div class="row">
                  <div class="col-md-6">
                  <a href="https://github.com/example42/puppet-playground">Playground</a>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-playground&amp;type=watch&amp;count=true&size=small" title="Puppet Playground" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                </div>
                </li>

                <li>
                <div class="row">
                  <div class="col-md-6">
                  <a href="https://github.com/example42/puppi">Puppi</a>
                  </div>
                  <div class="col-md-6">
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppi&amp;type=watch&amp;count=true&size=small" title="Puppi" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                  </div>
                </div>
                </li>

              </ul>
