<section id="who">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Who</h2>
                    <div class="lead">
                      The Guide is Open Source, anybody can be part of it.</br>
                      Yes, even <a href="#where">you</a>.</br></br></br></br>

                      The project is currently sponsored by example42,<br>
                      and, yes, open to other sponsors.</br>
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/guidemasq.png" alt="The Guide Mask">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="what">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What</h2>
                    <div class="lead">
                    The [DevOps] Guide to Puppet, Universe, and Everything is currently composed of:</br>
                    <ul>
                      <li>
                      A <b>Book</b>, about Puppet, and Puppet Universe.</br>
                      To be published only when reviewed, refined and good enough for a first edition.
                      </li>
                      <li>
                      Sample <b>architectures</b> with commented Puppet control repos:
                      Suitable as reference or starting point for new setups.</br>
                      </li>
                      <li>
                      A modular <b>Slides deck</b> with tutorials on different Puppet topics. The first published one is for <a target="_blank" href="http://www.example42.com/guide/slides/beginner/">beginners</a>.
                      </li>
                      <li>
                      A practical <b>Puppet Universal Reference</b> with the info and the links that matter.
                      </li>
                      <li>
                      A collection of <b>Cheatsheets</b> about Puppet components.
                      </li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-2.png" alt="">
                </div>
            </div>
        </div>
   </div>
</section>

<section id="how">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How</h2>
                    <div class="lead">
                       This is an ambitious projects with many, evolving, components.
                       It is intended to be complementary to Puppet documentation, which is great.</br>


                       If you find it interesting you can be support it these ways:

                       <ul>
                         <li>
                         <b>Work</b> with us on the GitHub repos.</br>
                         </li>
                         <li>
                         <b>Sponsor</b> the development of the components you want done.</br>
                         </li>
                         <li>
                         <b>Talk</b> about it, #puppetguide42
                         </li>
                       </ul>
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                   <img class="img-responsive" src="/img/imm-3.png" alt="How">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="when">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">When</h2>
                    <div class="lead">
                    Time is relative, we planned things that were only partially done.</br>
                    <ul>
                      <li>
                       The book and the Universal reference and the Cheatsheets have not started at all. They need sponsors.</br>
                      </li>
                      <li>
                       The Puppet Architectures are still based on an old set of control repos. They need updates.</br>
                      </li>
                      <li>
                      The <b>slides</b> are under active works, the <a target="_blank" href="http://www.example42.com/guide/slides/beginner/">Beginners</a> deck has been published.
                      Others decks are in development.
                      </li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-3.png" alt="">
                </div>
            </div>
        </div>
   </div>
</section>

<section id="where">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">Where</h2>
                    <div class="lead">
                      All the developments are open GitHub,</br> if you want to collaborate, use it:</br></br></br>
                      <ul style="list-style-type: none; padding: 0px">
                        <li>
                        <div class="row">
                          <div class="col-md-6">
                          <a target="_blank" href="https://github.com/example42/puppetguide-book">Book</a>
                          </div>
                          <div class="col-md-6">
                          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppetguide-book&amp;type=watch&amp;count=true&size=small" title="Puppet Guide" frameborder="0" scrolling="0" margin="0" lenght="150" height="25"></iframe>
                          </div>
                        </div>
                        </li>

                        <li>
                        <div class="row">
                          <div class="col-md-6">
                          <a target="_blank" href="https://github.com/example42/puppetguide-architectures">Puppet Architectures</a>
                          </div>
                          <div class="col-md-6">
                          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppetguide-architectures&amp;type=watch&amp;count=true&size=small" title="Puppet Architectures" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                          </div>
                        </div>
                        </li>

                        <li>
                        <div class="row">
                          <div class="col-md-6">
                          <a target="_blank" href="https://github.com/example42/puppetguide-slides">Slides</a>
                          </div>
                          <div class="col-md-6">
                          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppetguide-slides&amp;type=watch&amp;count=true&size=small" title="Tutorial Slides" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                          </div>
                        </div>
                        </li>

                        <li>
                        <div class="row">
                          <div class="col-md-6">
                          <a target="_blank" href="https://github.com/example42/puppetguide-reference">Universal Reference</a>
                          </div>
                          <div class="col-md-6">
                          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppetguide-reference&amp;type=watch&amp;count=true&size=small" title="Puppet Universal Reference" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                          </div>
                        </div>
                        </li>
                      </ul>
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-1.png" alt="Open Source">
                </div>
            </div>
        </div>
    </div>
</section>
