<section id="who">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Who</h2>
                    <div class="lead">
                      The Guide is Open Source, anybody can be part of it.</br>
                      Also <a href="#how">you</a></br>.

                      The project is started by the founders of example42 GmbH:</br>
                       <a href="https://www.linkedin.com/profile/view?id=2092929">Alessandro Franceschi</a>,</br>
                       author of the book <a href="http://amzn.to/1nenFti">Extending Puppet</a> and of the original Example42 Puppet works</br>
                       <a href="https://www.linkedin.com/profile/view?id=12184592">Martin Alfke</a>,
                     </br>Long time Puppet User and Trainer and co-author of Puppet Essential 2nd ed.</br>
                       We score 16 cumulative years of Puppet experience,</br>more than Luke!
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-6.png" alt="Open Source">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="what">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What</h2>
                    <div class="lead">
                    The [DevOps] Guide to Puppet, Universe, and Everything is an holistic documentation project.</br>
                    The first steps are:
                    <ul>
                      <li>
                      A <b>book</b>, about Puppet, and Puppet Universe.</br>
                      It will be published when reviewed, refined and good enough for a first edition.
                      </li>
                      <li>
                      A set of <b>Puppet architectures</b>: documented examples of internal Puppet code and data layouts.</br>
                      Each architecture layout can be tested with Vagrant and used as quickstarter for new projects.
                      </li>
                      <li>
                      A modular <b>slides deck</b> with tutorials on different Puppet topics.</br>
                      They will be free to be used in internal trainings, presentations, and workshops.
                      </li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-2.png" alt="">
                </div>
            </div>
        </div>
   </div>
</section>

<section id="how">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How</h2>
                    <div class="lead">
                       We know something about the pains of writing a good book.</br>
                       It takes much more time that you ever imagined.</br>

                       If you have ever appreciated or used the Puppet works of Example42, or if you think that the world can be better with a guide, please support our <a href="https://www.indiegogo.com/campaigns/the-devops-guide-to-puppet-universe-and" target="_blank">crowdsourcing campaign on IndieGogo</a>.</br>
                       If you want to actively contribute to it, check <a href="#where">where</a> everything is shared.
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                   <a href="https://www.indiegogo.com/campaigns/the-devops-guide-to-puppet-universe-and" target="_blank"><img class="img-responsive" src="/img/indiegogo.png" alt="IndieGogo"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="when">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">When</h2>
                    <div class="lead">
                    <ul>
                      <li>
                      If the Indiegogo campaign is successful we plan to publish the first edition of the <b>book</b> in <b>summer of 2016</b>.</br>
                      We want to provide a book worth publishing, better than any other existing books on Puppet. It's not an easy task.
                      </li>
                      <li>
                      We have already some samples of <b>Puppet architectures</b> to share, but we intend to update, redesign and document them in <b>autumn 2015</b>.</br>
                      They will be easy test with Vagrant and to adapt and extend to custom needs.
                      </li>
                      <li>
                      The <b>slides</b> are going to be grouped in different modular sections, so that they can composed for
                      different trainings or workshops. We plan to release a first complete set by the end of <b>winter 2015</b>.
                      </li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-2.png" alt="">
                </div>
            </div>
        </div>
   </div>
</section>

<section id="where">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Where</h2>
                    <div class="lead">
                      Everything on GitHub, of course:</br></br></br>
                      <ul style="list-style-type: none; padding: 0px">
                        <li>
                        <div class="row">
                          <div class="col-md-6">
                          <a target="_blank" href="https://github.com/example42/puppetguide-book">The Book</a>
                          </div>
                          <div class="col-md-6">
                          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppetguide-book&amp;type=watch&amp;count=true&size=small" title="Puppet Guide" frameborder="0" scrolling="0" margin="0" lenght="150" height="25"></iframe>
                          </div>
                        </div>
                        </li>

                        <li>
                        <div class="row">
                          <div class="col-md-6">
                          <a target="_blank" href="https://github.com/example42/puppetguide-architectures">Puppet Architectures</a>
                          </div>
                          <div class="col-md-6">
                          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppetguide-architectures&amp;type=watch&amp;count=true&size=small" title="Puppet Architectures" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                          </div>
                        </div>
                        </li>

                        <li>
                        <div class="row">
                          <div class="col-md-6">
                          <a target="_blank" href="https://github.com/example42/puppetguide-slides">Slides deck</a>
                          </div>
                          <div class="col-md-6">
                          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppetguide-slides&amp;type=watch&amp;count=true&size=small" title="Tutorial Slides" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                          </div>
                        </div>
                        </li>

                      </ul>
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-6.png" alt="Open Source">
                </div>
            </div>
        </div>
    </div>
</section>
