<section id="guide">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <a href="/guide"><h2 class="section-heading">The [DevOps] Guide To Puppet</h2></a>
                    <div class="lead">
                      An Open Source holistic documentation project on Puppet:</br>
                      <ul>
                        <li>
                        A <b>Book</b>, about Puppet, and Puppet Universe.</br>
                        </li>
                        <li>
                        A documented set of <b>Puppet architectures</b></br>
                        </li>
                        <li>
                        A modular <b>Slides deck</b>.
                        </li>
                        <li>
                        A practical <b>Puppet Universal Reference</b>
                        </li>
                      </ul>
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6 col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/guidemasq.png" alt="The [DevOps] Guide to Puppet Universe and Everything"></a>
                </div>
            </div>
        </div>
    </div>
</section>
