  <style>
    @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
    @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

    h2 {
      font-family: 'Yanone Kaffeesatz';
      font-weight: normal;
      padding-bottom: 0%;
      margin-bottom: 0%;
    }
    h3 {
      font-family: 'Yanone Kaffeesatz';
      font-weight: normal;
      padding-bottom: 0%;
      margin-bottom: 0%;
      font-size: 1.5em;
    }
    li {
      font-size: 1;
      font-weight: 100;
    }
    p {
      font-size: 1em;
      font-weight: 100;
    }
    td {
      padding: 2px;
      font-weight: 100;
    }
    .remark-code, .remark-inline-code {
      font-family: 'Ubuntu Mono';
      font-size: 1em;
      font-weight: 100;
    }
    .remark-h2 {
      font-size: 2em;
    }

  </style>