<section id="contact">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Contact example42</h2>
          <div class="lead">
          Just send us a message on <a href="https://www.linkedin.com/company/example42" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIN</span></a></br>
          For code Issues, Pull and Features Requests use <a href="https://github.com/example42" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a></br>
          Social interactions can be done on <a href="https://x.com/example42">X</a></br>
          </div>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ site.url }}/img/pic-10.png" alt="Contact example42">
        </div>
      </div>
    </div>
  </div>
</section>
