<section id="contact">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Contact example42</h2>
          <div class="lead">
            <a href="https://www.linkedin.com/company/example42" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIN</span></a> for business contacts and offers
          </div>
          <div class="lead">
            <a href="https://github.com/example42" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a> for OSS code related requests
          </div>
          <div class="lead">
            <a href="https://x.com/example42" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a> for social interactions
          </div>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ site.url }}/img/pic-10.png" alt="Contact example42">
        </div>
      </div>
    </div>
  </div>
</section>
