<section id="wwwww">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading"><a href="{{ site.url }}/wwwww/">example42's 5 Ws</a></h2>
          <div class="lead">
            <b>WHO</b> - Alessandro Franceschi, Puppet trainer, and consultant since 2006.</br>
            <b>WHAT</b> - Puppet/DevOps consulting, training and development.</br>
            <b>WHEN</b> - 24/7, 365 days a year. With flexibility.</br>
            <b>WHERE</b> - Remote or onsite, anywhere in the world.</br>
            <b>WHY</b> - Experience, expertise, flexibility, pragmatism, knowledge sharing.</br>
          </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2  col-sm-6">
          <img class="img-responsive" src="{{ site.url }}/img/pic-9.png" alt="example42 Five Ws">
        </div>
      </div>
    </div>
  </div>
</section>
