<section id="services">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Puppet Consulting Services</h2>
          <div class="lead">
          <ul>
            <li><b>Emergency Puppet Support</b> for quick support in a Puppet crisis</li>
            <li><b>Smart Puppet Support</b> for on demand consulting</li>
            <li><b>Smart Puppet workshops</b> for custom training on the job</li>
            <li><b>Puppet Health check</b> for infrastructure optimization</li>
            <li><b>Instant Puppet Project</b> for fast infra automation kickstart</li>
            <li><b>Ansible / Puppet migration</b> for IaC tool migrations</li>
          </ul>
          </div>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ site.url }}/img/imm-3.png" alt="Puppet Services">
        </div>
      </div>
    </div>
  </div>
</section>
