<section id="podcast">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Abnormal DevOps Iterations</h2>
          <div class="lead">
            A podcast with thought leaders, personalities and founders of the DevOps and Open Source community.</br>
            Released weekly on:</br>
            <a href="https://youtube.com/AbnormalDevOpsIterations">YouTube</a></br>
            <a href="https://open.spotify.com/show/4viAGMM539m0A230xqKhqD?si=bd0d41f805054313">Spotify</a></br>
            <a href="https://music.amazon.com/podcasts/fbb3a98e-1877-4e66-8b65-23388d0e867e/abnormal-devops-iterations">Amazon Music</a></br>
          </div>
        </div>
        <div class="col-lg-4 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ site.url }}/img/pic-adi.png" alt="Abnormal DevOps Iterations">
        </div>
      </div>
    </div>
  </div>
</section>
