<section id="impressum">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Impressum</h2>
                    <div class="lead">
<br/>
<br/>
Lab42 Srl
<br/>
Via del Roccolo 23/2<br/>
21052 Busto Arsizio VA<br/>
Italy<br/>
<h4>Contatti</h4>
E-Mail: <a href="mailto:current@lab42.it">sales@example42.com</a><br/>
Web: <a href="http://www.example42.com" target="_blank">example42.com</a><br/>
VAT ID: IT 03677180121<br/>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="../img/imm-3.png" alt="Impressum">
                </div>
            </div>

        </div>

</section>
