<section id="impressum">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Impressum</h2>
                    <div class="lead">
Angaben gem&auml;&szlig; &sect; 5 TMG
<br/>
<br/>
example42 GmbH i.Gr.
<br/>
Rudolf-Reusch-Str 23E<br/>
10367 Berlin<br/>
<h4>Vertreten durch</h4>
Martin Alfke, Alessandro Franceschi<br/>
<h4>Kontakt</h4>
E-Mail: <a href="mailto:sales@example42.com">sales@example42.com</a><br/>
Internetadresse: <a href="http://www.example42.com" target="_blank">example42.com</a><br/>
<h4>Registereintrag</h4>
Eintragung im  Handelsregister<br/>
Registernummer: HRB 171209 B<br/>
Registergericht: Amtsgericht Charlottenburg<br/>
<!--
<h4>Umsatzsteuer-ID</h4>
Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect;27 a Umsatzsteuergesetz<br/>
DExxx<br/>
-->
<h4>Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV</h4>
Martin Alfke, Alessandro Franceschi<br/>
<h4>Quellenangaben f&uuml;r die verwendeten Bilder und Grafiken</h4>
Tatlin.net<br/>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="../img/imm-3.png" alt="Impressum">
                </div>
            </div>

        </div>

</section>
