<section id="impressum">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Impressum</h2>
          <div class="lead">
            Lab42 Srl<br/>
            Via del Roccolo 23/2<br/>
            21052 Busto Arsizio VA<br/>
            Italy<br/>
            E-Mail: <a href="mailto:current@lab42.it">sales@example42.com</a><br/>
            Web: <a href="http://www.example42.com" target="_blank">example42.com</a><br/>
            VAT ID: IT 03677180121<br/>

            {% include iubenda.html %}
            <br/>
            <strong>Puppet</strong> is a trademark of <a href="https://puppet.com">Puppet</a> by Perforce.<br/>
            <strong>Lab42 srl</strong> is a Puppet Authorized Reseller and Solution Provider partner and delivers also direct support on Open Source and Puppet Enterprise setups and codebase.<br/>
            <strong>example42</strong> started as an Open Source collection of Puppet modules and is now a brand of Lab42 srl.<br/>
            <strong>Alessandro Franceschi</strong> is Lab42's CEO and founder and the author of example42 Puppet modules.<br/>
          </div>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ site.url }}/img/pic-logo.png" alt="Impressum">
        </div>
      </div>
    </div>
  </div>
</section>
