<section id="jobs">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Job Openings</h2>
                    <div class="lead">
                    <h3>Intermediate or Senior DevOps Consultant - Berlin, Germany, Europe, Earth</h3>
                    Example 42 GmbH is looking for an Intermediate or Senior DevOps/Puppet Consultant.
                    <p><p>
                    <b>We offer</b> flexible working hours, learning new technologies, more days of vacation than usual, interesting jobs at interesting customers, attending conferences and many more.
                    <b>We need you</b> to deliver IT automation success to our customers, work on our OpenSource code, develop new tools which help IT departments to solve their problems.
                    <p><p>
                    <b>We want you</b> to know German language, to have at least basic knowledge in Puppet, Configuration Management, CI/CD, to know Linux, Windows or OS X, to be willing to travel within Europe, to attend our booth at conferences or even speaking at conferences.
                    <p>
                    <b>Ideally</b> you have code on GitHub, are already working with Puppet, know about the Ruby part of Puppet, have worked in larger environment (300+ nodes).
                    <p><p>
                    Interested? Get in touch with us: <a href='mailto:jobs@example42.com'>jobs@example42.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-3.png" alt="Jobs">
                </div>
            </div>

        </div>

</section>
