<section id="jobs">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Jobs</h2>
                    <div class="lead">
                    <h3>Intermediate or Senior Infrastructure Engineer/Puppet Consultant</h3>
                    <h4>Berlin, Germany, Europe, Earth</h4>
                    example42 GmbH is looking for an Intermediate or Senior Infrastructure Engineer/Puppet Consultant.
                    <p></p>
                    <b>We offer</b> flexibility, a collaborative learning and sharing environment, possibility to work with us on interesting projects at interesting customers and learning the newest technology stack.
                    <p></p>
                    <b>We need you</b> to deliver IT automation success to our customers,</br>work on our OpenSource code, explore and share solutions, analyze new toolings like kubernetes and how our customers can fully automate their cloud and on-premise infrastructure.
                    <p></p>
                    <b>Preferred skills</b> are DevOps mindset, small-talk knowledge of German language, knowing Puppet or any other Configuration Managemnt tool,</br>optionally familiarity with CI/CD and Linux, Windows, or Solaris.
                    <p></p>
                    Work is both <b>remote and onsite</b>. You will be asked to travel,</br>mostly in Germany, and work from home.
                    <p></p>
                    example42 is an equal pay company. We share information on income and company sales revenue.
                    <p></p>
                    Lacking any of our requirements? No worries. As long as you have the proper attitude and mindset we can teach you everything we know.
                    <p></p>
                    Interested? Get in touch with us: <a href='mailto:jobs@example42.com'>jobs@example42.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">   
                <img class="img-responsive" src="img/imm-10.png" alt="Jobs">
                </div>
            </div>
        </div>
    </div>
</section>
