          <div class="row">
            <div class="col-md-12">
              <h4><a href="https://github.com/example42">GitHub</a></h4>
              <a href="http://www.example42.com/ubersicht/">GitHub Ubersicht</a>
              <h4><a href="https://forge.puppetlabs.com/example42">Puppet Forge</a></h4>
              <h4><a href="https://groups.google.com/forum/#!forum/example42-puppet-modules" target="_blank" rel="external nofollow">Google Group</a></h4>
              <h4><a href="https://plus.google.com/+Example42" rel="publisher">Google+</a></h4>
              <h4><a href="https://www.facebook.com/Example42PuppetModules" target="_blank" rel="external nofollow">Facebook Page</a></h4>
              <h4><a href="https://www.slideshare.net/alvagante" target="_blank" rel="external nofollow">Slideshare</a></h4>
              <h4><a href="https://www.linkedin.com/pub/alessandro-franceschi/0/84b/229" target="_blank" rel="external nofollow">Linkedin</a></h4>
              <hr /><a href="http://bit.ly/extendingpuppet" target="_blank" rel="external nofollow"><img src="/img/ExtendingPuppet.png" border§="0"/></a>
              <p>The missing Puppet book.<p><a href="http://amzn.to/1nenFti">Read some reviews...</a></p>

            </div>
          </div>
