          <div class="row">
            <div class="col-md-12">
              <h4><a href="https://github.com/example42">GitHub</a></h4>
              <h4><a href="https://forge.puppetlabs.com/example42">Puppet Forge</a></h4>
              <h4><a href="https://www.slideshare.net/alvagante" target="_blank" rel="external nofollow">Slideshare</a></h4>
              <h4><a href="https://www.linkedin.com/pub/alessandro-franceschi/0/84b/229" target="_blank" rel="external nofollow">Linkedin</a></h4>
            </div>
          </div>
