<section id="online">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Remote Puppet Services</h2>
                    <div class="lead">
                      We have more than 10 years of experience on Puppet and have used it in hundreds of different places.</br>
                      Customer have used our Remote Puppet Service for:</br>
                      <ul>
                      <li>Synchronous Q&A, troubleshooting, consulting: Any question, our answer</li>
                      <li>Synchronous Coding Sessions (Training while coding)</li>
                      <li>Remote Puppet code development (modules, control-repo design, profiles...)</li>
                      <li>Setup of Puppet infrastructure, based on best practices adapted to the context</li>
                      <li>Code review, optimisation, upgrade, migrations</li>
                      </ul>
                      We offer these services in time based packages: you buy a certain amout of our time and use it when you need (service time is valid for 12 months).</br>
                      All activities which we are allowed to also add to our public OSS projects on [GitHub](https://github.com/example42) are delivered at half price (2 hours are counted as 1).</br></br>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-2.png" alt="">
                    <h3 class="section-heading">Pay with PayPal</h3>
                    Use this form for Credit Card payments via PayPal.</br>
                    Besides PayPal receipt, we will send an invoice (we will ask you for your company data)</br>
                    VAT is not included in the price. German customers should <a href="mailto:sales@example42.com?subject=Puppet Service request">get in contact with us</a>.</br>
                    {% include paypal.html %}
                </div>
            </div>

        </div>
  
</section>
