<section id="online">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Remote Puppet Support</h2>
                    <div class="lead">
                      We've more than 10 years of experience on Puppet. We have used it in hundreds of different places.</br>
                      Customer have used our Remote Puppet Support service for:</br>
                      <ul>
                      <li>Synchronous Q&A, troubleshooting, consulting: Any question, our answer</li>
                      <li>Synchronous Coding Sessions (Train while coding)</li>
                      <li>Remote Puppet code development (modules, control-repo design, profiles...)</li>
                      <li>Setup of a new Puppet infrastructure, based on best practices adapted to the context</li>
                      <li>Code review, optimisation, upgrade, migrations</li>
                      </ul>
                      We offer these services in Time based packages: you buy a certain about of our time and use it when you want (within a year from date or purchase) for what you want.</br>
                      All the activities done on our public OSS projects on [GitHub](https://github.com/example42) are delivered at half price (2 hours are counted as 1).</br></br>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-2.png" alt="">
                    <h3 class="section-heading">Pay with PayPal</h3>
                    Use this form for Credit Card payments via PayPal.</br>
                    Besides PayPal receipt, we will send an invoice (we will ask you your data for it)</br>
                    VAT is not included in the price. German customers should use other method of payments and add VAT.</br>
                    {% include paypal.html %}
                </div>
            </div>

        </div>
  
</section>
