<section id="online">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Remote Puppet Services</h2>
                    <div class="lead">
                      We have more than 16 years of experience on Puppet and have used it in hundreds of different places.</br>
                      Our customers have used our Remote Puppet Service for:</br>
                      <ul>
                      <li>Synchronous Q&A, troubleshooting, consulting: Any question, our answer</li>
                      <li>Synchronous Coding Sessions (Training while coding)</li>
                      <li>Remote Puppet code development (modules, control-repo design, profiles...)</li>
                      <li>Setup of Puppet infrastructures, based on best practices adapted to the context</li>
                      <li>Code review, optimisation, upgrade, migrations</li>
                      <li>Features requests for our OSS Puppet projects</li>
                      </ul>
                      We offer these services in time based packages: you buy a certain amount of our time and use it when you need (service time is valid for 12 months).</br>
                      <h3>Special OSS discount</h3>
                      For all the activities related to our public OSS projects on <a href="https://github.com/example42">GitHub</a> we offer <b>double time!</b> (2 hours are counted as 1).</br></br>
                    </div>
                </div>
            </div>
        </div>
</section>
