<section id="opensource">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Open Source</h2>
                    <div class="lead">
                       We share ideas, discussions and code also in these places.
                       <h4>Code: <a href="https://github.com/example42">GitHub</a> - <a href="https://forge.puppetlabs.com/example42">Puppet Forge</a></h4>
                       <h4>Documentation: <a href="https://www.example42.com/tutorials/PuppetTutorial" target="_blank">Puppet Tutorial</a></h4>
                       <h4>Discussion: <a href="https://groups.google.com/forum/#!forum/example42-puppet-modules" target="_blank" rel="external nofollow">Google Group</a> - <a href="https://plus.google.com/+Example42" rel="publisher">Google+</a> - <a href="https://www.facebook.com/Example42PuppetModules" target="_blank" rel="external nofollow">Facebook Page</a></h4>
                       <h4>Presentations: <a href="https://www.slideshare.net/alvagante" target="_blank" rel="external nofollow">Alessandro</a> - <a href="https://www.slideshare.net/tuxmea" target="_blank" rel="external nofollow">Martin</a></h4>
                       <h4><a href="/guide">The [DevOps] Guide To Puppet, Universe, and Everything</a></h4>
                   </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/imm-1.png" alt="Open Source">
                </div>
            </div>

        </div>

</section>
