<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="V2FB8XKBDQDDG">
<table>
<tr><td><input type="hidden" name="on0" value="Prepaid Packages">Prepaid Packages</td></tr><tr><td><select name="os0">
	<option value="1 hour (2 OSS)">1 hour (2 OSS) €200,00 EUR</option>
	<option value="8 hours (16 OSS)">8 hours (16 OSS) €1.400,00 EUR</option>
	<option value="16 hours (32 OSS)">16 hours (32 OSS) €2.600,00 EUR</option>
	<option value="40 hours (80 OSS)">40 hours (80 OSS) €6.000,00 EUR</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="https://www.paypalobjects.com/en_US/DE/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
