<section id="products">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Products</h2>
                    <div class="lead">
                    We have developed the following Open Source projects:
                    <ul>
                      <li><a target="_blank" href="https://github.com/example42/psick">PSICK</a> - a full-featured, reusable, modern Puppet control-repo.</li>
                      <li><a target="_blank" href="https://tiny-puppet.com/">Tiny Puppet</a> - a Puppet module to manage any app on any OS.</li>
                      <li>Several Puppet modules and works on <a target="_blank" href="https://github.com/example42/">GitHub</a></li>
                      <li>Documentation: <a href="https://www.example42.com/tutorials/PuppetTutorial" target="_blank">Puppet Tutorial</a> - <a href="/guide" target="_blank">The [DevOps] Guide To Puppet</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-10.png" alt="Products">
                </div>
            </div>
        </div>
    </div>
</section>
