<section id="psick">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">PSICK</h2>
                    <div class="lead">
                    <h3>Puppet Systems Infrastructure Construction Kit</h3>
                    <a target="_blank" href="https://github.com/example42/psick">PSICK</a> is a full-featured, reusable, modern Puppet control-repo</p>
                    It features: 
                    <ul>
                      <li>Integrations with <b>Vagrant</b>, <b>Docker</b>, <b>GitLab</b>, <b>Fabric</b> and other tools.</li>
                      <li>A complete, entirely <b>data-driven</b>, set of Puppet profiles and tools for common use cases.</li>
                      <li>Toolset and integrations for full Puppet life cycle mangement: issue tracking, development, testing, CI, deployment.</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-11.png" alt="PSICK">
                </div>
            </div>
        </div>
    </div>
</section>
