<section id="references">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Customers:</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="http://www.lfst.bayern.de/" target="_blank">Bayerisches Landesamt für Steuern, Munich, Germany</a></li>
                      <li><a href="http://www.porsche.de/" target="_blank">Porsche AG</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/pic-7.png" alt="Events">
                </div>
            </div>

        </div>

</section>
