<section id="splash">
  <div class="lightback-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Puppet Infrastructure Kickstart</h1>
            <h2>Fast, effective, future proof setup</br>
            of a production ready Puppet infrastructure</h2>
            <h3>What is covered:</h3>
            <div class="lead">
            <ul>
              <li>The fastest, <strong>most effective</strong> and future ready way to start to automate your infrastructure with Puppet.</li>
              <li>Use it to bootstrap a new <strong>greenfield</strong> project, automated since the beginning, or to introduce Puppet in an existing <strong>brownfield</strong> infrastructure</li>
              <li>We will setup together on systems of your choice a <strong>Puppet Enterprise or Open Source infrastructure</strong>, which you can use for a POC or as basis for your production puppet setup.</li>
              <li>We will implement a sane <strong>development workflow</strong>, including version control, testing and continuous integration</li>
              <li>We design a flexible and <strong>expandable control repo</strong> and manage, at least, the common <strong>baseline configurations</strong> for your most used Operating Systems.</li>
            </ul>
            </div>

            <h3>How it works:</h3>
            <div class="lead">
            <ul>
              <li>We install an <strong> Open Source or Puppet Enterprise</strong>  server (consider it a POC setup or directly the expected production environment: it’s up to you)</li>
              <li>We install and configure the participants' Puppet <strong> Development workstations</strong> </li>
              <li>We create a Puppet control-repo git repository and define a basic <strong> development workflow</strong>, eventually with a CI, from development workstation to Puppet server deployment</li>
              <li>We discuss and review the different kind of configurations we have to puppettize and then <strong> collaboratively develop</strong>  Puppet profiles</li>
              <li>We create and use a script to <strong>automate installation</strong> of Puppet agents and control rollout, showing where applicable how to manage safe introduction of Puppet on existing systems</li>
            </ul>
            </div>

            <h3>Why it's worth:</h3>
            <div class="lead">
            <ul>
              <li>In a few days you have a working <strong>Puppet infrastructure</strong></li>
              <li>You decide what <strong>priorities</strong> to develop</li>
              <li>Your team is <strong>trained</strong> during the setup</li>
              <li>The initial setup can smoothly evolve in <strong>production</strong></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
