<section id="splash">
  <div class="services-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="intro-message">
            <h1>Example42 Puppet services</h1>
            <hr class="intro-divider">
            <h2>Innovative, flexible and targeted</br>Puppet consulting, training and development services</h2>
          </div>
        </div>
        <div class="col-lg-4 intro-message">
          <a href="#emergency"><h4>Emergency Puppet Support</h4></a>
          <a href="#smart"><h4>Smart Puppet Support</h4></a>
          <a href="#training"><h4>Smart Puppet Training</h4></a>
          <a href="#health"><h4>Puppet Health Check</h4></a>
          <a href="#kickstart"><h4>Puppet Infrastructure Kickstart</h4></a>
          <a href="#migration"><h4>Ansible / Puppet migrations</h4></a>
        </div>
      </div>
    </div>
  </div>
</section>
  