<section id="services">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Services</h2>
                    <div class="lead">
                    <ul>
                      <li>Puppet Training and Consulting</li>
                      <li>Puppet Modules Development</li>
                      <li>Puppet WorkShops</li>
                      <li>Puppet Infrastructures KickOffs</li>
                      <li>Puppet Code Review, Upgrades, Migrations</li>
                      <li>DevOps Consulting for Teams and Management</li>
                      <li>Cloud automation</li>
                      <li>CI/CD implementations</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/imm-3.png" alt="Services">
                </div>
            </div>

        </div>

</section>
