<section id="splash">
  <div class="lightback-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Puppet Emergency Support</h1>
            <h2>Quick and direct access to a Puppet expert</br>to solve urgent Puppet related issues and problems</h2>

            <h3>What is covered:</h3>
            <div class="lead">
            <ul>
              <li>Puppet errors you don't know how or don't have time to fix
              </li>
              <li>Outages or performance issues in your Puppet infrastructure</li>
              <li>Problems related to Puppet software usage</li>
              <li>Help in fixing a broken CI</li>
              <li>Problems with Puppet Certificate Authority</li>
              <li>Any expert help on Puppet-related topics</li>
            </ul>
            </div>

            <h3>How it works:</h3>
            <div class="lead">
            <ul>
              <li>You <strong>contact</strong> us via LinkedIN explaining your problem, underlying its urgency</li>
              <li>If urgent we replay ASAP and <strong>plan</strong> a call</li>
              <li>We work together on your issue using video conferencing tools with <strong>screen sharing</strong></li>
              <li>If your production is involved, <strong>you decide</strong>, take responsibility, and perform any activity while sharing your screen, evaluating our advice.</li>
            </ul>
            </div>

            <h3>Why it's worth:</h3>
            <div class="lead">
            <ul>
              <li>Given our expertise, it's likely we've already seen a similar issue and that the solution may be <strong>quick</strong> and effective</li>
              <li>Your remediation costs and times are likely to be much <strong>higher</strong> with internal or other external support</li>
              <li>If we don't solve your problem or given you useful guidance on how to fix it <strong>you do not have to pay anything</strong></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
