<section id="splash">
  <div class="lightback-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Puppet Health Check</h1>
            <h2>Am holistic review of your Puppet setup:</br>Infrastructure, code, performance, update status</h2>

            <h3>What is covered:</h3>
            <div class="lead">
            An interactive, live, methodic check up of different components of your Puppet software infrastructure:
            <ul>
              <li>The current <strong>Puppet reports</strong> to review how errors or recurrent changes can be fixed.</li>
              <li>Your <strong>codebase organization</strong> and fit</li>
              <li>Deeper <strong>review</strong> of your classes and profiles highlighting parts that can be problematic or can be optimized.</li>
              <li>The Puppet <strong>servers' logs</strong>, explaining and reviewing how to solve errors or warnings.</li>
              <li><strong>Automated check and lint</strong> of the code base.</li>
              <li>We collect data together about code and infrastructure that can be <strong>statically analyzed</strong>.</li>
              <li>Review your current <strong>Puppet Development workflow</strong> and eventual suggestions for improvements.</li>
            </ul>
            </div>

            <h3>How it works:</h3>
            <div class="lead">
            <ul>
              <li>We start with a <strong>brief call</strong> to understand your needs and to schedule the consulting activities.</li>
              <li>During the consulting activities we will <strong>work together</strong> to review your Puppet setup and to provide guidance on how to fix issues and improve your Puppet code and infrastructure.</li>
              <li>At the end of the consulting activities we provide and discuss a <strong>report</strong>, which goes beyond simple syntax and lint checks, and provides practical solutions and suggestions on how to modernize and optimize your Puppet code and infrastructure.</li>
              <li>Interactive sessions are intended also as a <strong>training</strong> to better understand your Puppet setup and the metrics that influence its sanity and performance.</li>
            </ul>
            </div>

            <h3>Why it's worth:</h3>
            <div class="lead">
            Our Puppet Health Check is a cost-effective way to get expert advice on how to fix your Puppet setup and to improve your Puppet code and infrastructure.
            <ul>
              <li><strong>Expertise</strong>: Alessandro has vast experience in Puppet software and IT and Cloud operations</li>
              <li><strong>Flexibility</strong>: If it fits the calendar, we can start at any time. Worldwide.</li>
              <li><strong>Efficiency</strong>: We focus on the problem. No paper works, tickets, unnecessary communications.</li>
              <li><strong>Knowledge transfer</strong>: Whatever is done is shared and explained to customer</li>
              <li><strong>Open source</strong>:  We release as open source our Puppet modules and code</li>
              <li><strong>Value for money</strong>: The time you will save and the value you get repay the cost multiple times.</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
