<section id="services">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Services</h2>
                    <div class="lead">
                    <ul>
                      <li>Puppet training and consulting</li>
                      <li>Puppet modules development</li>
                      <li>Puppet WorkShop and KickOff</li>
                      <li>DevOps consulting for management</li>
                      <li>DevOps support for teams</li>
                      <li>Infrastructure automation development</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/imm-3.png" alt="Services">
                </div>
            </div>

        </div>
  
</section>
