<section id="splash">
  <div class="lightback-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Smart Puppet Training</h1>
            <h2>Flexible, tailored, pragmatic</br>Puppet workshops</h2>    
            <h3>What is covered:</h3>
            <div class="lead">
            <ul>
              <li><strong>You decide</strong> the topics, things to do and priorities</li>
              <li><strong>Theory and practice</strong> can be mixed based on your expectations</li>
              <li>We can discuss and work directly on <strong>your Puppet code</strong></li>
              <li>Depth level is <strong>adapted</strong> to the skills of the participants</li>
            </ul>
            </div>

            <h3>How it works:</h3>
            <div class="lead">
            <ul>
              <li>You can have <strong>as many participants</strong> as you want</li>
              <li>Sessions can be interactive and based on <strong>your development workflow</strong></li>
              <li>Sessions are done <strong>onsite or in remote</strong> video conferences</li>
              <li>Remote lessons can be arranged with <strong>flexible sessions of 2 hours</strong></li>
            </ul>
            </div>

            <h3>Why it's worth:</h3>
            <div class="lead">
            <ul>
              <li>You have flexibility <strong>on times, location and topics</strong></li>
              <li>You can have direct access to <strong>world class knowledge</strong></li>
              <li>You can train <strong>as many participants as you want</strong></li>
              <li>We offer <strong>competitive prices</strong></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
