<section id="splash">
  <div class="back-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h1>Smart Puppet Support </h1>
            <h2>Flexible, on-demand, pay per use</br>access to unrivalled Puppet expertise</h2>

            <h3>What is covered:</h3>
            <div class="lead">
            <ul>
              <li><strong>Puppet errors</strong> of any kind to fix</li>
              <li><strong>Performance issues</strong> in your Puppet infrastructure</li>
              <li><strong>Puppet development</strong> of new profiles and modules</li>
              <li><strong>Advice</strong> on Puppet infrastructure design</li>
              <li><strong>Code base upgrading</strong> to adapt to new Puppet versions</li>
              <li><strong>Everything</strong> which is related to Puppet</li>
            </ul>
            </div>

            <h3>How it works:</h3>
            <div class="lead">
            <ul>
              <li>You purchase a <strong>support package</strong> for your desired amount of hours</li>
              <li>Support lasts <strong>one year</strong> until the purchased hours are delivered</li>
              <li><strong>Whenever you need</strong> you engage with example42 and plan activities</li>
              <li>Works can be done both synchronously, in a <strong>video conference</strong>, or asynchronously and autonomously by example42, as you prefer.</li>
              <li>Activities can be both <strong>remote and onsite</strong></li>
            </ul>
            </div>

            <h3>Why it's worth:</h3>
            <div class="lead">
            <ul>
              <li>You get flexible <strong>on demand support</strong> at the times and paces you need</li>
              <li>You have at disposal a <strong>huge expertise</strong> to engage when and on what you want</li>
              <li>You <strong>save a lot of money</strong> for any Puppet related activity</li>
              <li>Your team gets <strong>training on the job</strong> because Knowledge Sharing is in our DNA</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
