<section id="migration">
  <div class="back-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h1>Ansible <-> Puppet migrations</h1>
            <h2>IaC and systems expertise </br>to migrate from one tool to another</h2>

            <h3>What is covered:</h3>
            <div class="lead">
            Even if example42 experience is mainly on Puppet, we can help you in migrating from Puppet to Ansible, or vice versa, leveraging our experience in Infrastructure as Cose, systems management ini mission critical environments. We can support you in:
            <ul>
              <li>Understanding the differences between Puppet and Ansible</li>
              <li>Assessing the complexity of the migration</li>
              <li>Planning the migration</li>
              <li>Executing the migration</li>
              <li>Training your team on the new tool</li>
            </ul>
            </div>

            <h3>How it works:</h3>
            <div class="lead">
            Our approach is based on a mix of remote and on site activities, with a strong focus on knowledge transfer and operations safety. We will:
            <ul>
            <li>Start with a brief call to understand your needs and to schedule the consulting activities</li>
            <li>During the consulting activities we will work together to plan and execute the migration</li>
            <li>We usually follow a step by step approach, focusing on tested and safe implementation of changes</li>
            </ul>
            </div>

            <h3>Why it's worth:</h3>
            <div class="lead">
            <ul>
              <li>Experience: We have already done migrations in both sides</li>
              <li>Expertise: Alessandro has vast experience in Puppet software and IT and Cloud operations</li>
              <li>Flexibility: If it fits the calendar, we can start at any time. Worldwide.</li>
              <li>Efficiency: We focus on the problem. No paper works, tickets, unnecessary communications.</li>
              <li>Knowledge transfer: Whatever is done is shared and explained to customer</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
