<section id="online">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Thank you!</h2>
                    <div class="lead">
                      We have received your contact request and we are going to reply as soon as possible.</br>
                      In the meantime you can give a look to our Open Source projects:</br>
                       <a href="https://github.com/example42">GitHub</a></br>
                       <a href="https://forge.puppetlabs.com/example42">Puppet Forge</a></br>
                       <a href="https://github.com/example42/psick">PSICK</a></br>
                       <a href="http://www.tiny-puppet.com/">Tiny Puppet</a></br>
                       <a href="https://www.slideshare.net/alvagante" target="_blank" rel="external nofollow">Presentations</a></br>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="{{ site.url }}/img/imm-2.png" alt="">
                </div>
            </div>

        </div>
  
</section>
