<section id="training">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Upcoming Puppet Trainings</h2>
                    <div class="lead">
                    <ul>
                      <li><a href="https://learn.puppet.com/class/instructor-led-training/puppet-architect/imparando-london/2016-04-19" target="_blank">Puppet Architect - english</a> 19.-20.04.2016 - London, United Kingdom</li>
                      <li><a href="https://www.heinlein-support.de/schulung/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> 02.-04.05.2016 - Berlin, Germany</li>
                      <li><a href="https://learn.puppet.com/class/instructor-led-training/puppet-practitioner/imparando-london/2016-05-17" target="_blank">Puppet Practitioner - english</a> 17.-19.05.2016 - London, United Kingdom</li>
                      <li><a href="https://learn.puppet.com/class/instructor-led-training/puppet-fundamentals/vshn-ag/2016-05-24" target="_blank">Puppet Fundamentals - english</a> 24.-26.05.2016 - Zurich, Switzerland</li>
                      <li><a href="https://www.eventbrite.it/e/biglietti-puppet-fundamentals-milano-24260174836" target="_blank">Puppet Fundamentals - italian</a> 06.-08.06.2016 - Milan, Italy</li>
                      <li><a href="http://linuxhotel.de/kurs/puppet/" target="_blank">Puppet Fundamentals - deutsch</a> 08.-10.06.2016 - Essen, Germany</li>
                      <li><a href="https://learn.puppet.com/class/instructor-led-training/puppet-fundamentals/imparando-london/2016-06-14" target="_blank">Puppet Fundamentals - english</a> 14.-16.06.2016 - London, United Kingdom</li>
                      <li><a href="https://learn.puppet.com/class/instructor-led-training/puppet-practitioner/dublin---sureskills/2016-06-21" target="_blank">Puppet Practitioner - english</a> 21.-23.06.2016 - Dublin, Ireland</li>
                      <li><a href="https://learn.puppet.com/class/instructor-led-training/puppet-fundamentals/imparando-london/2016-07-12" target="_blank">Puppet Fundamentals - english</a> 12.-14.07.2016 - London, United Kingdom</li>
                      <li><a href="https://learn.puppet.com/class/instructor-led-training/puppet-practitioner/imparando-london/2016-07-19" target="_blank">Puppet Practitioner - english</a> 19.-21.07.2016 - London, United Kingdom</li>
                      <li><a href="http://www.linuxhotel.de/kurs/puppet-architect/" target="_blank">Puppet Architect - deutsch</a> 08.-09.09.2016 - Essen, Germany</li>
                      <li><a href="http://linuxhotel.de/kurs/puppet/" target="_blank">Puppet Fundamentals - deutsch</a> 05.-07.10.2016 - Essen, Germany</li>
                      <li><a href="https://www.heinlein-support.de/schulung/puppet" target="_blank">Puppet Fundamentals - deutsch</a> 02.-04.11.2016 - Berlin, Germany</li>
                      <li><a href="http://linuxhotel.de/kurs/puppet-practitioner/" target="_blank">Puppet Practitioner - deutsch</a> 16.-18.11.2016 - Essen, Germany</li>
                      <li><a href="https://www.heinlein-support.de/schulung/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> 28.-30.11.2016 - Berlin, Germany</li>
                      <li><a href="http://linuxhotel.de/kurs/puppet/" target="_blank">Puppet Fundamentals - deutsch</a> 12.-14.12.2016 - Essen, Germany</li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-2.png" alt="">
                </div>
            </div>

        </div>
  
</section>
