<section id="training">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Upcoming Trainings</h2>
                    <div class="lead">
                    Puppet Fundamentals<br>
                    <ul>
                      <li>14.-16.05.2018 - <a href="https://www.atix.de/training/puppet-fundamentals" target="_blank">Puppet Fundamentals - deutsch</a> - Munich, DE</li>
                      <li>03.-05.09.2018 - <a href="https://www.linuxhotel.de/kurs/puppet/" target="_blank">Puppet Fundamentals - deutsch</a> - Essen, DE</li>
                      <li>17.-19.09.2018 - <a href="https://www.atix.de/training/puppet-fundamentals" target="_blank">Puppet Fundamentals - deutsch</a> - Munich, DE</li>
                      <li>29.-31.10.2018 - <a href="https://www.linuxhotel.de/kurs/puppet/" target="_blank">Puppet Fundamentals - deutsch</a> - Essen, DE</li>
                      <li>12.-14.11.2018 - <a href="https://www.atix.de/training/puppet-fundamentals" target="_blank">Puppet Fundamentals - deutsch</a> - Munich, DE</li>
                      <li>17.-19.12.2018 - <a href="https://www.heinlein-support.de/schulung/puppet" target="_blank">Puppet Fundamentals - deutsch</a> - Berlin, DE</li>
                  </ul>
                  Puppet Practitioner<br>
                    <ul>
                      <li>04.-06.06.2018 - <a href="https://www.heinlein-support.de/schulung/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Berlin, DE</li>
                      <li>25.-27.06.2018 - <a href="https://www.atix.de/training/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Munich, DE</li>
                      <li>24.-26.09.2018 - <a href="https://www.atix.de/training/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Munich, DE</li>
                      <li>22.-24.10.2018 - <a href="http://www.linuxhotel.de/kurs/puppet-advanced/" target="_blank">Puppet Practitioner - deutsch</a> - Essen, DE</li>
                      <li>19.-21.11.2018 - <a href="https://www.atix.de/training/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Munich, DE</li>
                      <li>03.-05.12.2018 - <a href="https://www.heinlein-support.de/schulung/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Berlin, DE</li>
                    </ul>
                    Puppet Architect<br>
                    <ul>
                      <li>17.-18.05.2018 - <a href="https://www.atix.de/training/puppet-architect" target="_blank">Puppet Architect - deutsch</a> - Munich, DE</li>
                      <li>07.-08.06.2018 - <a href="http://www.linuxhotel.de/kurs/puppet-architect/" target="_blank">Puppet Architect - deutsch</a> - Essen, DE</li>
                      <li>20.-21.09.2018 - <a href="https://www.atix.de/training/puppet-architect" target="_blank">Puppet Architect - deutsch</a> - Munich, DE</li>
                      <li>25.-26.10.2018 - <a href="http://www.linuxhotel.de/kurs/puppet-architect/" target="_blank">Puppet Architect - deutsch</a> - Essen, DE</li>
                      <li>15.-16.11.2018 - <a href="https://www.atix.de/training/puppet-architect" target="_blank">Puppet Architect - deutsch</a> - Munich, DE</li>
                    </ul>
                    Foreman<br>
                    <ul>
                      <li>24.-25.05.2018 - <a href="https://www.linuxhotel.de/kurs/foreman/" target="_blank">The Foreman + Katello - deutsch</a> - Essen, DE</li>
                      <li>22.-23.11.2018 - <a href="https://www.linuxhotel.de/kurs/foreman/" target="_blank">The Foreman + Katello - deutsch</a> - Essen, DE</li>
                    </ul>
                </div>
                English training courses are available upon request. Please contact us: <a href="mailto:info@example42.com?subject=English training courses">info@example42.com</a>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-2.png" alt="">
                </div>
            </div>

        </div>
  
</section>
