<section id="training">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Upcoming Trainings</h2>
                    <div class="lead">
                    Getting started with Puppet - formerly Fundamentals<br>
                    <ul>
                      <li>06.-08.05.2019 - <a href="https://www.heinlein-support.de/schulung/puppet" target="_blank">Getting started with Puppet - Fundamentals - deutsch</a> - Berlin, DE</li>
                      <li>22.-24.07.2019 - <a href="https://www.linuxhotel.de/kurs/puppet" target="_blank">Getting started with Puppet - Fundamentals - deutsch</a> - Essen, DE</li>
                      <li>30.09.-02.10.2019 - <a href="https://www.heinlein-support.de/schulung/puppet" target="_blank">Getting started with Puppet - Fundamentals - deutsch</a> - Berlin, DE</li>
                      <li>21.-23.10.2019 - <a href="https://www.linuxhotel.de/kurs/puppet" target="_blank">Getting started with Puppet - Fundamentals - deutsch</a> - Essen, DE</li>
                      <li>11.-13.11.2019 - <a href="https://www.atix.de/training/puppet-fundamentals" target="_blank">Getting started with Puppet - Fundamentals - deutsch</a> - Munich, DE</li>
                  </ul>
                  Puppet Practitioner<br>
                    <ul>
                      <li>27.-29.05.2019 - <a href="https://www.atix.de/training/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Munich, DE</li>
                      <li>12.-14.06.2019 - <a href="https://www.heinlein-support.de/schulung/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Berlin, DE</li>
                      <li>18.-20.10.2019 - <a href="https://www.atix.de/training/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Munich, DE</li>
                      <li>02.-04.12.2019 - <a href="https://www.heinlein-support.de/schulung/puppet-practitioner" target="_blank">Puppet Practitioner - deutsch</a> - Berlin, DE</li>
                    </ul>
                    Foreman<br>
                    <ul>
                      <li>24.-26.10.2019 - <a href="https://www.linuxhotel.de/kurs/foreman/" target="_blank">The Foreman + Katello - deutsch</a> - Essen, DE</li>
                    </ul>
                </div>
                English training courses are available upon request.
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-2.png" alt="">
                </div>
            </div>

        </div>
  
</section>
