<section id="why">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Why</h2>
                    <div class="lead">
                    IT operations can't be managed manually.</br>

                    <b>Automation</b> is a prerequisite in modern IT, <b>Puppet</b> allows to manage infrastructure as code, improving safety, consistency, and productivity.</br>

                    It is an open-source configuration management software that automates the administration of a data center.</br>

                    <a href="/why">Find out more</a> about how you can benefit from Puppet and how Example42's expertise can help.</br>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/imm-9.png" alt="Why Puppet">
                </div>
            </div>

        </div>

</section>
