<section id="splash">
  <div class="back-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h1>WHERE</h1>
            <h2>World wide, remote or onsite</h2>

            <div class="lead">
            example42 services are available <strong>world wide</strong>,at any timezone.
            </div>
            <div class="lead">
            Consulting services are delivered both <strong>remote and onsite</strong>. Remote sessions are usually accounted by the hour, onsite services are billed by day.
            </div>
            <div class="lead">
            We are based in Italy, and we can reach any location in Europe in a few hours. World wide travel is possible, but requires at least a week long engagement.
            </div>
            <div class="lead">
            Travel costs, where applicable, are optimized and kept as low as possible. We are always open to discuss and find the best solution for all parties.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
