<section id="splash">
  <div class="back-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h1>WHO</h1>
            <h2>Founded by world's longest active Puppet consultant</h2>

            <div class="lead">
            example42 started as an Open Source Puppet modules collection project by Alessandro Franceschi, Puppet user since 2007, book writer, speaker, trainer and among the most known Puppet consultants in the world.
            </div>
            <div class="lead">
            Over the years it evolved into a Berlin based company and then a brand of Lab42 srl, which is a Training and Professional services partner of Puppet by Perforce.
            </div>
            <div class="lead">
            Alessandro has delivered consulting and training services in companies of any industry worldwide, with infrastructure sizes from few dozens to 20000 servers,   facing challenges of any kind, from code updates to infrastructures migrations, from green field setups to gradual automation implementation in mission critical environments.
            </div>
            <div class="lead">
            Experience, pragmatism, professionalism, integrity, knowledge sharing attitude and flexibility define what Alessandro and example42 are about.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
