<section id="splash">
  <div class="back-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>WHEN</h1>
            <h2>example42 services are available 24/7</br>we adapt to any timezone</h2>

            <div class="lead">
            We don't work always, but we can <strong>work at any time</strong>, adapting to any timezone.
            </div>
            <div class="lead">
            We offer, and request, <strong>flexibility</strong> to cope with the needs of all our customers.
            </div>
            <div class="lead">
            With Smart Support options you can request our support at any time, no formal SLA is given but we generally reply and setup a call within a day.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
