<section id="splash">
  <div class="lightback-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>WHAT</h1>
            <h2>example42 provides innovative Puppet support services</br>and delivers Open Source Puppet products</h2>

            <div class="lead">
            Our <strong>Puppet services</strong> are unique for the flexibility, experience, expertise, pragmatism and value provided.
            </div>
            <div class="lead">
            Out <strong>Open Source products</strong> are innovative Puppet modules and control-repo.
            </div>
            <div class="lead">
            Moreover, services which involve work on our Open Source products, are offered at <strong>half price</strong>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
