<section id="splash">
  <div class="lightback-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>WHO</h1>
            <h2>example42 has been founded by Alessandro Franceschi</br>probably world's longest active Puppet consultant</h2>

            <div class="lead">
            example42 started as an Open Source project lead by Alessandro Franceschi, first hour Puppeteer, book writer, speaker, trainer and among the most appreciated and known Puppet consultants in the world.
            </div>
            <div class="lead">
            Over the years it evolved into a company and then a brand of Lab42, gathering unrivalled on field real world experience on any kind of Puppet infrastructure.
            </div>
            <div class="lead">
            Experience, pragmatism, professionalism, integrity, knowledge sharing attitude and flexibility define what example42 is about.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
