<section id="splash">
  <div class="wwwww-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-responsive" src="{{ site.url }}/img/pic-9-logo.png" alt="example42 five Ws">
        </div>
        <div class="col-lg-8">
          <div class="intro-message">
            <h1>Example42 five Ws</h1>
            <hr class="intro-divider">
            <h2>Who, What, When, Where, Why</br>all the answers you need</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  