<section id="splash">
  <div class="back-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h1>WHAT</h1>
            <h2>Innovative Puppet support services</h2>
            <div class="lead">
            Our <strong>Puppet services</strong> are unique for the flexibility, experience, expertise, pragmatism and value provided.
            </div>
            <div class="lead">
            We concentrated on what really matters to companies using Puppet or dealing with Infrastructure automation and tailored a <a href="{{ site.url }}/services/">line up of services</a> which meet in a flexible and cost effective way customer needs.
            </div>
            <div class="lead">
            For example, rather than consecutive days of consulting which are quickly burnt down, we provide year long support fractioned in hours, to use when really needed
            </div>
            <div class="lead">
            We also develop Puppet modules, documentation and software which is always released with <strong>Open Source</strong> licenses. Moreover, services which involve work on our Open Source products, are offered at <strong>half price</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
