<section id="wwwww">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">WWWWW</h2>
                    <div class="lead">
                        <b>WHO</b>: Alessandro Franceschi, Puppet user, trainer, and consultant since 20.</br>
                        <b>WHAT</b>: Puppet consulting, training and development. DevOps tools, processes and culture consulting.</br>
                        <b>WHEN</b>: Potentially 24/7, 365 days a year. But with flexibility</br>
                        <b>WHERE</b>: Remote or onsite, anywhere in the world. We are based in Italy, but we travel everywhere.</br>
                        <b>WHY</b>: Experience, expertise, flexibility, pragmatism, knowledge sharing on Puppet and DevOps.</br>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/imm-4.png" alt="">
                </div>
            </div>
        </div>
</section>
