<section id="splash">
  <div class="back-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h1>WHEN</h1>
            <h2>Always, 24/7 every day</h2>

            <div class="lead">
            We don't work all the time, but we can <strong>work at any time</strong>, adapting to any timezone.
            </div>
            <div class="lead">
            We offer, and request, <strong>flexibility</strong> to cope with the needs of all our customers. We can arrange a call or a remote session at any time, with little notice, if we are available.
            </div>
            <div class="lead">
            With Smart Support options you can request our support at any time, no formal SLA is given but we generally reply and setup a call within a day.
            </div>
            <div class="lead">
            We are <strong>always available</strong> for our customers, even when we are not working, if we can, we are ready to help in case of emergencies.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
