<section id="splash">
  <div class="back-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h1>WHY</h1>
            <h2>Experience, pragmatism, expertise</br>sharing attitude and flexibility at a competitive price</h2>

            <div class="lead">
            Finding people with strong Puppet skills on the market is difficult</br>
            Having them written on the CV is not the same of more than 17 years of dedicated commitment, with experience on any real world scenario, from code upgrades, to infrastructure migrations, from rapid kickstart of a greenfield project to gentle and introduction on a brownfield environment, from Open Source Puppet to Puppet Enterprise.</br>
            That's what we call <strong>experience and expertise</strong>.
            </div>
            <div class="lead">
            Our approach to work is quite rare on the market: we offer extreme flexibility, both in planning the activities and in delivering them: what you need, when you need it.</br>
            You can engage us with a mail, a LinkedIN or a WhatApp message and we reply in a few hours, we can setup a call in the same day and start working on your project in the next one.</br> 
            That's what we call <strong>flexibility</strong>.
            </div>
            <div class="lead">
            When we work, onsite or in a shared screen video call, we always describe and explain what we do: training on the job is our normal approach to consulting activities.</br>
            We don't keep secrets, we we train your team to be able to do the same things we do.</br>
            Moreover, we are direct to the point, we don't waste your time and your money with unnecessary activities, presentations and bureaucratic processes.</br>
            That's what we call <strong>sharing attitude and pragmatism</strong>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
