@import url(shared/slides.css); /* required to make the slide show run at all */
     
html, body {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	opacity: 1;
}

a:link, a:visited {
	color: #000066;
}

h6 {
	font-size: 50pt;
	text-align: center;
}
h1 { font-size: 28pt;  }
h2 { font-size: 28pt;  }
h3 { font-size: 25pt;  }
p, li, td, th { font-size: 18pt; }

pre { font-size: 16pt;  }

pre.code { 
        background-color: black;
        padding: 5px;
         border: silver thick groove;
          -moz-border-radius: 11px;
      }
     
 
div#header, div#footer {
	height: 4.5em; 
}

a#plink {
	color: #FFFFFF;
}

#currentSlide { 
	float: left;
	text-align: left;
	clear: left;	
	color: #FFFFFF;

}

#controls #navLinks a { color: silver; }
.pic {
	clear: none;
	float: right;
}
.picpart {
	position: relative;
	left: -41px;
}
.step {
	color: #000000;
}
/* or hide next steps e.g.  .step { visibility: hidden; } */
.stepcurrent {
	color: #FF0000;
/*	font-weight: bold; */
}
